* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    display: inline-block;
    box-shadow: 4px 8px 8px silver;
    width: 300px;
    border-radius: 5px;
    margin: 5px;
    
}
.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.container {
    background-color: rgb(9, 9, 161);
    color: bisque;
    text-align: center;
    padding: 2px 16px;
    border-radius: 0 0 5px 5px;
    margin-top: -5px;
}

.container p {
    margin-top: 12;
}